html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: $fontBody;
  background-color: #fafafa;
  color: #000;
}

h1,
h2,
h3,
h4 {
  font-family: $fontHeading;
}

h2 {
  font-size: $fontsize-xl;
}
h3 {
  font-size: $fontsize-l;
}

h4 {
  font-size: $fontsize-m;
}

a,
a:hover,
a:focus {
  font-weight: bold;
}

p {
  line-height: 1.5em;
}

html[lang="ar"] {
  direction: rtl;
}
