$battery_bg: gold;
$battery_icon-bgimage: linear-gradient(
  to right,
  rgba($white, 0.75),
  rgba($white, 0.75)
);
$battery_icon-height: 60px;
$battery_icon-maxwidth: 500px;
$battery_icon-minwidth: 220px;
$battery_icon-borderWidth: 1px;
$battery_icon-borderColor: $black;
$battery_icon-radius: 8px;
$battery_iconPositive-radius: 4px;
$battery_iconPositive-width: 8px;
$battery_iconPositive-height: $battery_icon-height/2;
$battery_iconPositive-top: calc(50% - #{$battery_icon-height/4});
$battery_iconPositive-right: -$battery_iconPositive-width;
$battery_cell-color: darken($battery_bg, 10%);

///// ANIMA
@keyframes animaCharging {
  0% {
    background-size: 0%;
  }
  25% {
    background-size: 50%;
  }
  50% {
    background-size: 100%;
  }
  75% {
    background-size: 50%;
  }
  100% {
    background-size: 0%;
  }
}
////

@keyframes threePointContent {
  0% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

////// COMPONENT BATTERY API
.battery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-sm {
    flex-direction: row;
  }

  &__icon {
    width: calc(
      100% - #{$battery_iconPositive-width + $battery_icon-borderWidth * 2}
    );
    max-width: $battery_icon-maxwidth;
    min-width: $battery_icon-minwidth;
    height: $battery_icon-height;
    border: $battery_icon-borderWidth solid $battery_icon-borderColor;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: $battery_icon-radius;
    background-color: $battery_bg;
    background-image: $battery_icon-bgimage;
    background-repeat: no-repeat;
    // box-shadow: inset 8px 8px 0 0 $battery_cell-color, inset -8px -8px 0 0 $battery_cell-color;
    background-size: 0%;
    transition: background-image 1s;

    @include media-sm {
      margin-right: $space-m * 2;
    }

    // cells
    &::before {
      content: attr(data-level);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: bold;
      height: 100%;
      width: 100%;
      border-radius: $battery_icon-radius;
      background-image: linear-gradient(
        90deg,
        transparent 90%,
        $battery_cell-color 10%
      );
      background-size: #{$battery_icon-maxwidth/100};
      background-position: left center;
    }

    // Positive
    &::after {
      content: "";
      display: block;
      width: $battery_iconPositive-width;
      height: $battery_iconPositive-height;
      display: block;
      border-radius: 0 $battery_iconPositive-radius $battery_iconPositive-radius
        0;
      border: $battery_icon-borderWidth solid $battery_icon-borderColor;
      position: absolute;
      top: $battery_iconPositive-top;
      right: $battery_iconPositive-right;
      border-color: $black;
    }
  }

  &__info {
    width: 100%;

    &__list {
      margin: 0;
      padding: 20px 0;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 25%;
      min-width: $battery_icon-minwidth/3;
      padding: 8px;
      text-align: left;
      min-width: 80px;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-left: 0;
      }
      &:nth-child(2) {
        display: none;
        @include media-sm {
          display: flex;
        }
      }
    }
    &__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }
    &__value {
      font-size: 14px;
      display: inline-block;
      width: 100%;

      &::after {
        content: "";
        display: inline-block;
      }
    }
  }

  // STATUS
  &#{&}--hight {
    .battery__icon {
      //border-color: green;
      //background-image: linear-gradient(to right, green, lime);
      &::after {
        // background-color: green;
        // border-color: green;
      }
    }
  }
  &#{&}--medium {
    .battery__icon {
      //border-color: darkorange;
      //background-image: linear-gradient(to right, yellow, darkorange);
      &::after {
        // background-color: darkorange;
        // border-color: darkorange;
      }
    }
  }
  &#{&}--low {
    .battery__icon {
      //border-color: red;
      //background-image: linear-gradient(to right, magenta, red);
      &::after {
        // background-color: red;
        // border-color: red;
      }
    }
  }
  &#{&}--empty {
  }

  &#{&}--charging {
    .battery__icon {
      animation: animaCharging 4s infinite;
      &::after {
        animation: animaCharging 4s infinite;
      }
    }
    .battery__info__value--mode::after {
      animation: threePointContent 4s infinite;
    }
  }
}
