$caimodal-box-shadow: 0px 2px 1px -1px rgba($black, 0.2),
  0px 1px 1px 0px rgba($black, 0.14), 0px 1px 3px 0px rgba($black, 0.12);
$caimodal-overlay-zindex: 24;
$caimodal-zindex: 32;
$caimodal-minHeight: 140px;
$caimodal-bgc: $white;
$caimodal-minWidth: 200px;
$caimodal-maxWidth: 640px;
$caimodal-icon-size: 32px;

.caimodal {
  .caimodalBox {
    box-sizing: border-box;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $caimodal-bgc;
    width: calc(100% - #{$space-m * 2});
    min-width: $caimodal-minWidth;
    max-width: $caimodal-maxWidth;
    height: auto;
    min-height: $caimodal-minHeight;
    padding: $space-m;
    z-index: $caimodal-zindex;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    box-shadow: $caimodal-box-shadow;
    transform: translateX(-150%) translateY(-50%);
    transition: all 0.5s linear;

    @include media-sm {
      top: 30%;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 12px silver;
      outline: 0;
      .caimodalBox__btnClose {
        box-shadow: 0px 0px 4px silver;
      }
    }

    &__btnClose {
      border: 0;
      background-color: $white;
      display: block;
      width: $caimodal-icon-size;
      height: $caimodal-icon-size;
      position: absolute;
      top: -$space-m * 2;
      right: 0;
      border-radius: 100%;
      background-size: 12px;
      cursor: pointer;

      &:hover,
      &:focus {
        top: -#{$space-m * 2 + 4px};
        width: $caimodal-icon-size + 4px;
        height: $caimodal-icon-size + 4px;
      }
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 32px;
      &:empty {
        min-height: 0;
      }

      &__title {
        margin: 0;
        margin-bottom: 0.5em;
      }
    }
    &__main {
      align-items: center;

      p {
        margin: 0.5em 0;
      }
    }
    &__footer {
      &:empty {
        height: 0;
      }
      &__extrainfo {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
  .caimodalOverlay {
    display: none;
    opacity: 0;
    transition: opacity 0.5s linear;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $caimodal-overlay-zindex;
  }
}
body[data-caimodal-status="open"] {
  overflow: hidden;
  .caimodal[data-caimodal-status="open"] {
    .caimodalBox {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%);
    }
    .caimodalOverlay {
      display: block;
      opacity: 1;
    }
  }
}
