///// CARD
.card {
  border-radius: $radius;
  overflow: hidden;
  width: 100%;
  min-height: $card-minHeight;
  min-width: 300px;
  background-color: $card-bgColor;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: $card-shadow;
  border: $card-border;
  position: relative;
  padding: $space-m;
  color: $card-color;

  &__more {
    position: absolute;
    top: $space-m;
    right: $space-m;
    border: 0;
    background: none;
    cursor: pointer;

    &::before {
      content: "?";
      display: flex;
      font-size: 16px;
      width: 28px;
      height: 28px;
      background-color: rgba($white, 0.8);
      border-radius: 100%;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 4px silver;
    }
    &:hover::before,
    &:focus::before {
      background-color: $white;
    }
  }

  &__icon {
    width: $card_icon-width;
    height: $card_icon-width;
    min-width: $card_icon-width;
    margin: $space-m;
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__type {
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &__title {
      margin: 8px 0 0 0;
      font-size: $card_title-fontSize;
    }
  }

  // CARD - NO BROWSER SUPPORT
  &__noSupport {
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(red, 0.75);
    color: $white;
    z-index: 24;

    &__type {
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    &__description {
    }
  }

  &.noSupport {
    box-shadow: $card-shadow--error;

    .card__noSupport {
      display: flex;
    }
  }

  // CARD - STYLE
  &#{&}--vertical {
    min-height: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    .card__icon {
      margin-right: 0;
      width: 100px;
      height: 100px;
      background-size: 75%;
    }
  }

  // CARD - TYPES
  &#{&}--location {
    min-height: 50vh;
    background-color: $white;
    .card__map {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .card__more {
      z-index: 24;
      &::before {
        background-color: rgba(orange, 0.75);
        color: $white;
      }
      &:hover::before,
      &:focus::before {
        background-color: rgba(orange, 1);
        color: $white;
      }
    }
    .card__icon {
      z-index: 16;
    }
    .card__info {
      width: calc(100% - #{$space-m * 2});
      height: 25%;
      min-height: 200px;
      border-radius: 0 0 $radius $radius;
      box-shadow: $card-shadow;
      background-color: rgba($color-warning, 0.75);
      position: absolute;
      top: 0;
      left: auto;
      z-index: 8;
      justify-content: center;
      padding: $space-m;
      @include media-sm {
        max-width: 500px;
      }
    }
  }

  &#{&}--device {
    .card__icon {
      // @extend .icon;
      // @extend .iconbg-devices;
    }
  }

  &#{&}--os {
    .card__icon {
      // @extend .icon;
      // @extend .iconbg-os;
    }
  }

  &#{&}--browser {
    .card__icon {
      // @extend .icon;
      // @extend .iconbg-browser;
    }
  }

  &#{&}--battery {
    @include media-sm {
      background-image: linear-gradient(
          to right,
          rgba(gold, 0.85),
          rgba(gold, 0.85)
        ),
        linear-gradient(to left, rgba(gold, 0.85), rgba(gold, 0.85)),
        url("../static/svg/battery.svg"), url("../static/svg/battery.svg");
      background-repeat: no-repeat;
      background-position: -150px 0, calc(100% + 150px) 0;
      background-size: 300px, 300px;
    }

    padding-bottom: $space-m * 2;
    .battery {
      margin-top: $space-m;
      @include media-sm {
      }
    }
  }
  &#{&}--connection {
    @include media-sm {
      background-image: linear-gradient(
          to right,
          rgba(gold, 0.85),
          rgba(gold, 0.85)
        ),
        linear-gradient(to left, rgba(gold, 0.85), rgba(gold, 0.85)),
        url("../static/svg/connection.svg"), url("../static/svg/connection.svg");
      background-repeat: no-repeat;
      background-position: -150px 0, calc(100% + 150px) 0;
      background-size: 300px, 300px;
    }
  }
  &#{&}--exit {
    .card__info {
      width: 100%;
      position: relative;
      //&:before,
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: $space-m;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom, transparent, gold);
      }
      .card__info__list {
        margin: 0;
        padding: 0;
        padding-bottom: $space-m;
        margin-top: 8px;
        list-style-type: none;
        max-height: 100px;
        overflow-y: auto;
        max-height: 80px;
        overflow-y: auto;

        scrollbar-color: rgba($black, 0.4) orange;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }
        &::-webkit-scrollbar-track {
          background-color: rgba($black, 0.4);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: orange;
          border-radius: 10px;
        }

        li {
          font-size: $fontsize-s;
          text-align: left;
          padding: 2px 0;
          font-weight: bold;
        }
      }
    }
  }
}
