.footer {
  background-color: $black;
  color: $white;
  padding: $space-m * 2 $space-m;

  a,
  a:hover,
  a:focus {
    color: $white;
  }

  &__title {
    @include containterCenter();
  }
  &__article {
    @include containterCenter();

    &#{&}--legal {
      font-size: $fontsize-xs;
      text-align: center;
      padding-top: $space-m;
      background-image: linear-gradient(
        to right,
        transparent,
        silver 60%,
        transparent
      );
      background-size: 100% 2px;
      background-repeat: no-repeat;
    }
  }
}
