.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 72;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: $space-m 8px;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    rgba($white, 0.9) 90%,
    transparent
  );
  background-color: transparent;

  &__linkHome {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;

    @include media-sm {
      width: $media-sm;
      @include containterCenter;
    }
  }

  &__logo {
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin-right: $space-xs;
    padding: $space-m;
    background-color: $color-warning;
    border-radius: 100%;
  }
  &__info {
    padding-right: $space-m;
  }
  &__h1 {
    font-size: $fontsize-m;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
  }
  &__description {
    font-size: $fontsize-xs;
    margin-top: $space-xs;
    margin-bottom: 8px;
  }
  &__btnMenu {
    border: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 8px;
    z-index: 8;
    // JS - navMenu.js
    &.openMenu {
      display: none;
    }

    @include media-lgplus {
      display: none;
    }

    &:hover,
    &:focus {
      background: none;
    }

    .iconbg-menu {
      display: block;
      width: 30px;
      height: 30px;
      @include bgimage($bgurl-menu);
      background-size: 95%;
      &:hover,
      &:focus {
        background-size: 100%;
      }
    }
  }
}
