.iconbg {
  display: block;
  width: 128px;
  height: 128px;
}

// SOCIAL MEDIA
.iconbg-facebook {
  @include bgimage($bgurl-facebook);
}
.iconbg-twitter {
  @include bgimage($bgurl-twitter);
}
.iconbg-linkedin {
  @include bgimage($bgurl-linkedin);
}
.iconbg-whatsapp {
  @include bgimage($bgurl-whatsapp);
}
.iconbg-reddit {
  @include bgimage($bgurl-reddit);
}
.iconbg-contact {
  @include bgimage($bgurl-contact);
}

// GLOBAL
.iconbg-logo {
  @include bgimage($bgurl-logo);
}
.iconbg-battery {
  @include bgimage($bgurl-battery);
}
.iconbg-close {
  @include bgimage($bgurl-close);
}
.iconbg-connection {
  @include bgimage($bgurl-connection);
}

.iconbg-hardware {
  @include bgimage($bgurl-hardware);
}
.iconbg-info {
  @include bgimage($bgurl-info);
}
.iconbg-location {
  @include bgimage($bgurl-location);
}
.iconbg-menu {
  @include bgimage($bgurl-menu);
}
.iconbg-project {
  @include bgimage($bgurl-project);
}
.iconbg-share {
  @include bgimage($bgurl-share);
}

.iconbg-resolution {
  @include bgimage($bgurl-resolution);
}
.iconbg-orientation {
  @include bgimage($bgurl-orientation);
}

.iconbg-darkmode {
  @include bgimage($bgurl-darkmode);
}
.iconbg-lang {
  @include bgimage($bgurl-lang);
}
.iconbg-ram {
  @include bgimage($bgurl-ram);
}
.iconbg-cpu {
  @include bgimage($bgurl-cpu);
}
.iconbg-gpu {
  @include bgimage($bgurl-gpu);
}
.iconbg-ip {
  @include bgimage($bgurl-ip);
}
.iconbg-telco {
  @include bgimage($bgurl-telco);
}
.iconbg-exit {
  @include bgimage($bgurl-exit);
}

// Devices
.iconbg-devices {
  @include bgimage($bgurl-devices);
}
.iconbg-mobileAndroid {
  @include bgimage($bgurl-mobileAndroid);
}

// OS
.iconbg-os {
  @include bgimage($bgurl-os);
}

.iconbg-windows {
  @include bgimage($bgurl-windows);
}

// Browser
.iconbg-browser {
  @include bgimage($bgurl-browser);
}
.iconbg-firefox {
  @include bgimage($bgurl-firefox);
}
