// # TYPOGRAPHY
// ## Typography - font-family
$fontBody: Arial, Helvetica, sans-serif;
$fontHeading: "Fira Code", monospace, "Roboto", Helvetica;

// ## Typography - font-size
$fontsize-xs: 12px;
$fontsize-s: 16px;
$fontsize-m: 20px;
$fontsize-l: 24px;
$fontsize-xl: 28px;

// # COLORS
// ## Colors - Palette
$black: #333;
$white: #fafafa;
$whitepure: #fff;
$blackpure: #000;

// Colors - Function
$color-info: lightblue;
$color-error: red;
$color-success: green;
$color-warning: gold;

// SPACING
$space-xs: 8px;
$space-s: 16px;
$space-m: 20px;
$space-l: 24px;
$space-xl: 28px;

// Border Radius
$radius: 20px;

// # MEDIQUERIES
$media-lgplus: 1624px;
$media-lg: 1280px;
$media-sm: 980px;

// Background URL - Default
$bgurl-logo: url("../images/svg/logo.svg");

// Background URL - Icons

$bgurl-battery: url("../images/svg/battery.svg");
$bgurl-close: url("../images/svg/close.svg");
$bgurl-connection: url("../images/svg/connection.svg");
$bgurl-contact: url("../images/svg/contact.svg");
$bgurl-hardware: url("../images/svg/hardware.svg");
$bgurl-info: url("../images/svg/info.svg");
$bgurl-location: url("../images/svg/location.svg");
$bgurl-menu: url("../images/svg/menu.svg");
$bgurl-project: url("../images/svg/project.svg");
$bgurl-share: url("../images/svg/share.svg");
$bgurl-resolution: url("../images/svg/resolution.svg");
$bgurl-orientation: url("../images/svg/orientation.svg");
$bgurl-darkmode: url("../images/svg/darkmode.svg");
$bgurl-lang: url("../images/svg/lang.svg");
$bgurl-ram: url("../images/svg/ram.svg");
$bgurl-cpu: url("../images/svg/cpu.svg");
$bgurl-gpu: url("../images/svg/gpu.svg");
$bgurl-ip: url("../images/svg/ip.svg");
$bgurl-telco: url("../images/svg/telco.svg");
$bgurl-exit: url("../images/svg/exit.svg");
$bgurl-hourglass: url("../images/svg/hourglass.svg");

// Bacckground URL - Social Media
$bgurl-facebook: url("../images/svg/facebook.svg");
$bgurl-twitter: url("../images/svg/twitter.svg");
$bgurl-linkedin: url("../images/svg/linkedin.svg");
$bgurl-whatsapp: url("../images/svg/whatsapp.svg");
$bgurl-reddit: url("../images/svg/reddit.svg");

// Background URL - Icons devices
$bgurl-devices: url("../images/svg/devices.svg");
$bgurl-mobileAndroid: url("../images/svg/mobileAndroid.svg");

// Background URL - Icons OS
$bgurl-os: url("../images/svg/os.svg");
$bgurl-windows: url("../images/svg/windows.svg");

// Background URL - Icons Browser
$bgurl-browser: url("../images/svg/browser.svg");
$bgurl-firefox: url("../images/svg/firefox.svg");

//
$header-shadow: 0px 2px 1px -1px rgba(silver, 0.2),
  0px 1px 1px 0px rgba(silver, 0.14), 0px 1px 3px 0px rgba(silver, 0.12);

// CARD
$card-minHeight: 180px;
$card-bgColor: gold;
$card-color: $black;
$card-color--shadow: $black;
$card_icon-width: 64px;
$card_title-fontSize: 20px;
$card-border: 1px solid #f3f3f3;
$card-shadow: 0px 2px 1px -1px rgba($card-color--shadow, 0.2),
  0px 1px 1px 0px rgba($card-color--shadow, 0.14),
  0px 1px 3px 0px rgba($card-color--shadow, 0.12);
$card-shadow--error: 0 0px 1px -1px rgba($color-error, 0.2),
  0px 0 1px 0px rgba($color-error, 0.14),
  0px 1px 3px 0px rgba($color-error, 0.12);
